$(".comments").html("<%= j(render 'comments/comments', comments: @comments) %>");
$(".comment").html("<%= j(render 'comments/comment', comment: @comment, court: @court) %>");

var success = '<%= @success %>';
if (success) {
  $('#alert-message').html('<div class="alert alert-success fas fa-basketball-ball" id="notice"><%= @success %></div>')
}
else {
  $('#alert-message').html('<div class="alert alert-warning fas fa-basketball-ball" id="notice"><%= @warning %></div>')
}
