$(".reviews").html("<%= j(render 'reviews/reviews', reviews: @reviews) %>");
$(".review").html("<%= j(render 'reviews/review', review: @review, court: @court) %>");

var success = '<%= @success %>';
if (success) {
  $('#alert-message').html('<div class="alert alert-success fas fa-basketball-ball" id="notice"><%= @success %></div>')
}
else{
  $('#alert-message').html('<div class="alert alert-warning fas fa-basketball-ball" id="notice"><%= @warning %></div>')
}
